venv/
__pycache__/
data/__pycache__/
handlers/Admin/
handlers/__pycache__/
handlers/Admin/
handlers/AboutBot/__pycache__/
handlers/HelperClient/__pycache__/
handlers/HelperClient/AllTems/__pycache__/
handlers/HelperClient/AllTems/HightClass/__pycache__/
handlers/HelperClient/AllTems/LowClass/__pycache__/
handlers/HelperClient/AllTems/MediumClass/__pycache__/
handlers/HelperClient/AllTems/Class10/__pycache__/
handlers/HelperClient/AllTems/Class11/__pycache__/
handlers/HelperClient/ClassTypes/__pycache__/
handlers/HelperClient/ClassTypes/Handbook/__pycache__/
handlers/Start/__pycache__/
utils/__pycache__/
.env
.idea/